<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (project(); as project) {
      <div>
        <h2>
          <span jhiTranslate="projectManagement.detail.title">Proiect</span> [<strong>{{ project.name }}</strong
        >]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>{{ project.id }}</dd>
          <dt><span jhiTranslate="projectManagement.name">Nume</span></dt>
          <dd>{{ project.name }}</dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info">
          <span jhiTranslate="entity.action.back">Înapoi</span>
        </button>
      </div>
    }
  </div>
</div>
