<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ticket(); as ticket) {
      <div>
        <h2>
          <span jhiTranslate="ticketManagement.detail.title">Tichet</span> [<strong>{{ ticket.title }}</strong
        >]
        </h2>

        <table class="border w-100">
          <tr>
            <th class="border w-40"><span>ID</span></th>
            <td class="border w-60">{{ ticket.id }}</td>
          </tr>
          <tr>
            <th class="border"><span jhiTranslate="projectManagement.name">Titlu</span></th>
            <td class="border">{{ ticket.title }}</td>
          </tr>
          <tr>
            <th class="border"><span jhiTranslate="projectManagement.name">Descriere</span></th>
            <td class="border">{{ ticket.description }}</td>
          </tr>
          <tr>
            <th class="border"><span jhiTranslate="projectManagement.name">Data Limita</span></th>
            <td class="border">{{ ticket.dueDate }}</td>
          </tr>
          <tr>
            <th class="border"><span jhiTranslate="projectManagement.name">Finisat</span></th>
            <td class="border">{{ ticket.done }}</td>
          </tr>
          <tr>
            <th class="border"><span jhiTranslate="projectManagement.name">Proiect</span></th>
            <td class="border">{{ ticket.project?.name }}</td>
          </tr>
          <tr>
            <th class="border"><span jhiTranslate="projectManagement.name">Atribuit</span></th>
            <td class="border">{{ ticket.assignedTo?.login }}</td>
          </tr>
          <tr>
            <th class="border"><span jhiTranslate="projectManagement.name">Etichete</span></th>
            <td class="border">
              @for (label of ticket.labels; track label.id) {
                <span>{{ label.label }}</span>
              }
            </td>
          </tr>
        </table>

        <button type="submit" (click)="previousState()" class="btn btn-info mt-4">
          <span jhiTranslate="entity.action.back">Înapoi</span>
        </button>
      </div>
    }
  </div>
</div>
